[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
bincode = { workspace = true }
bitvec = { workspace = true }
rand = { workspace = true }
rand_pcg = { workspace = true }
rustc-hash = "2.1.1"

[dev-dependencies]
rand = "0.9.2"
tempfile = "3.21.0"
